body {
    position: relative;
}

i {
    font-size: 2rem;
}

nav {
    visibility: hidden;
}

.linkIcon, .cardBtn {
    text-decoration: none;
    color: inherit;
    transition: .25s color;
}

.newBlock {
    background-color: #444;
    padding: 5%;
}

.newBlock:nth-child(even) {
    background-color: transparent;
}

.blurb::first-letter {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.tab {
    padding-left: 1em;
    padding-right: 1em;
}

.title::first-letter {
    text-decoration: underline;
}

.card-body:hover {
    cursor: pointer;
}

.cardBtn i {
    font-size: 1.2rem;
}

.cardBtnDiv {
    border-right: 1px solid #303030;
}

.banner {
    position: relative;
    width: 100%;
    line-height: 7%;
}